.keyboard-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.keyboard-line {
  width: 100%;
  margin: 8px 0px;
  display: flex;
  justify-content: center;
}

.key {
  text-transform: uppercase;
  background: none;
  text-align: center;
  cursor: pointer;
  padding: 12px 0px;
  width: 8%;
  margin: 0px 4px;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  font-weight: bold;
}