.word-line {
  display: grid;
  grid-template-columns: 40px 40px 40px 40px 40px;
  column-gap: 8px;
  height: 40px;
  margin: 12px 0px;
}

.word-letter {
  border: 1px solid #000;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.right-letter {
  background-color: #51B36E;
  color: white;
}

.displaced-letter {
  background-color: #C79C2E;
  color: white;
}

.wrong-letter {
  background-color: #3A3A3C;
  color: white;
}