.word-line {
  display: grid;
  grid-template-columns: 40px 40px 40px 40px 40px;
  column-gap: 8px;
  height: 40px;
  margin: 12px 0px;
}

.word-letter {
  text-transform: uppercase;
  border: 2px solid var(--border-color);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.right-letter {
  background-color: var(--green) !important;
  color: white;
}

.displaced-letter {
  background-color: var(--orange) !important;
  color: white;
}

.wrong-letter {
  background-color: var(--red) !important;
  color: white;
}

.invalid-word {
  border-color: var(--red) !important;
}